body{
    background-color:rgb(255, 193, 222);
    color:rgb(69, 0, 87);
}

p{
    font-size: 18px;
}

img{
    width: 150px;
}

div.pic1{
    background-color: rgb(165, 236, 201);
}

h1{
    font-size: 28px;
    font-weight:bold;
}

h3{
    font-size: 18px;
}

a:visited{
   color:rgb(155, 41, 29) 
}