body{
    background-image: url(graphics/ricardo-gomez-angel-NY5uagc167k-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 1920px;
    background-position: 0px -830px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.nav{
    position: absolute;
    height: 300px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.486);
    border-radius: 20px;
    margin-top: 190px;
    margin-left: 120px;
}

h1{
    color:rgb(69, 223, 69);
    position:absolute;
    padding: 20px;
    padding-top: 20px;
    padding-left: 45px;
}

table{
   position: absolute;
   margin-top: 140px;
   margin-left: 30px;
   border-bottom: 1px solid lightgray;
}

tr, td{
    padding: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid lightgray;
}

a:link, a:visited{
    text-decoration: none;
    color:limegreen;
}

a:hover{
    color: rgb(228, 89, 89);
}

img{
    width:200px;
}

.grid{
    position: absolute;
    margin-top: 20px;
    margin-left: 450px;
    padding: 25px;
    height: 540px;
    width: 980px;
    overflow: scroll;
    scrollbar-width: none;
}

.box{
    width: 200px;
    padding: 15px;
    padding-bottom: 10px;
    padding-left: 0px;
}

.content1{
    position: absolute;
}

.content2{
    position: absolute;
    margin-left: 335px;
}

.content3{
    position: absolute;
    margin-left: 670px;
}

#browse{
    padding-left: 15px;
    background-color: black;
    width: 185px;
    font-size: 18px;
    margin-top: -14px;
}